<footer>
  <div class="footer_top">
  	<div class="wrap">
  		<img class="icon_twitter" src="../img/icons/icon_twitter.png" alt="">
  		<span>“ E-commerce psd theme available ”</span>
  	</div>
  </div>
  <div class="footer_bottom">
  	<div class="wrap">
  		<div class="trekking">
  			<div class="trekking__title">Trekking</div>
  			<div class="trekking__caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
  		</div>
  		<div class="right_block">
  			<ul class="footer_nav" ng-click="$event.preventDefault()">
  				<li><a href="#"  ng-repeat="footerMenu in footerMenu" ng-controller='menuCtrl' ng-model="name" ng-model="title" ng-model="link">{{footerMenu.name}}</a></li>
<!--
  				<li><a href="#" ng-controller='menuCtrl' ng-model="name" ng-model="title" ng-model="link">{{data}}</a></li>
  				<li><a href="#" ng-controller='menuCtrl' ng-model="name" ng-model="title" ng-model="link">{{data}}</a></li>	
  				<li><a href="#" ng-controller='menuCtrl' ng-model="name" ng-model="title" ng-model="link">{{data}}</a></li>	
  				<li><a href="#" ng-controller='menuCtrl' ng-model="name" ng-model="title" ng-model="link">{{data}}</a></li>	
-->
  			</ul>
  			<div class="gesign_by">Design by gianluca cosetta</div>
  		</div>
  	</div>
  </div>
</footer>